name: Build, run, and test py-lmdb

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # os: [macos-latest, windows-latest, ubuntu-latest]
        os: [ubuntu-latest]
        # python-version: [3.7, 3.8, 3.9]
        python-version: [3.7]
        cffi: ['no', 'yes']

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        if [[ ${{ matrix.cffi }} == no ]] export LMDB_FORCE_CPYTHON=1; else export LMDB_FORCE_CFFI=1; fi
        echo "Envs are cpython= $LMDB_FORCE_CPYTHON cffi= $LMDB_FORCE_CFFI "
        python -m pip install --upgrade pip
        python -m pip install flake8 pytest
        pip install -r requirements.txt
        python setup.py develop
    #- name: Lint with flake8
    #  run: |
    #    # stop the build if there are Python syntax errors or undefined names
    #    flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
    #    # exit-zero treats all errors as warnings.
    #    flake8 . --count --exit-zero --max-complexity=10 --max-line-length=120 --statistics
    - name: Test with pytest
      run: |
        pytest
